
:root {
--accent-color:  #2196F3 ;
--secondary-color:  #212121;
--title-color:  #FFFFFF;
--hero-color:  #2F303A;
--text-color: #757575 ;
--team-section-color: #F5F4FA;
--half-logo-color: #000000;
} 
body {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
}
.link {
text-decoration: none;
}
.list {
list-style: none;
}


/* Heder */
.menu-link,
.hookup-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-color);
}
.menu-link:hover,
.menu-link:focus,
.hookup-link:hover,
.hookup-link:focus 
{
color: var(--accent-color);
}
.hookup-link{
 /* коли прописую font-style - inherit, чомусь наслідування не відбувається */   
font-style: normal;
color: var(--text-color);
}

.logo,
.half-logo {
font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--half-logo-color);
}
.half-logo {  
color: var(--accent-color);
}
.menu-link.current {
color: var(--accent-color);
}
.filter-btn.current {
    background-color: var(--accent-color);
    color: var(--title-color);
}


/* Hero */
.hero {
    background-color: var(--hero-color);
}
.hero-text {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--title-color);
}
.hero-button {
text-align: center;
}
.hero-button-text {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
align-items: center;
letter-spacing: 0.06em;
color: var(--title-color);
background: var(--accent-color);
cursor: pointer;
}


/* Specifics */
.preference-title { 
line-height: 1.14;
text-transform: uppercase;
color: var(--secondary-color);
}
.preference-text {
font-weight: 400;
line-height: 1.71;
color: var(--text-color);
}
.work-title,
.team {
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--secondary-color);
}


/* Team */
.team-section {
background: var(--team-section-color);
}
.team-name,
.team-position {
font-weight: 500;
text-align: center;
font-size: 16px;
line-height: 1.18;
color: var(--secondary-color);
}
.team-position {
font-weight: 400;
color: var(--text-color);
}


/* Footer */
.footer {
background:var(--hero-color);
}
.address {
 /* коли прописую  font-style - inherit, чомусь наслідування не відбувається */
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--title-color);
}
.address:hover,
.address:focus {
color:  var(--accent-color);
}
.footer-logo {
font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;   
color: var(--title-color); 
}


/* Portfolio page */
.filter-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.62;   
text-align: left;
letter-spacing: 0.03em;
cursor: pointer;  
color:  var(--secondary-color);
}
.filter-btn:hover,
.filter-btn:focus {
color: var(--title-color);
background-color: var(--accent-color);
}
.client-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-color);
}
.client-text {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
color: var(--text-color);
}

